= simple_form_for(:user, url: tournament_add_user_path(@tournament), html: { class: 'form-horizontal' }) do |f|
  = f.input :id, collection: @users, label_method: :username, label: :username
  = f.submit 'Add user'
